<h1>Create a new product</h1>
<% if @product.errors.any? %>
  <div id="error_explanation">

    <h2> <%= pluralize(@product.errors.count, "error") %> because you suck!: </h2>

    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render "partial.view.erb"%>
